@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::selection {
    color: #000;
    background: #fff;
}

/* menu */
nav {
    position: absolute;
    width: 100%;
    padding: 10px 0;
    z-index: 100;
    overflow: hidden;
}

nav .menu {
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.menu ul {
    display: inline-flex;
}

.menu ul li {
    list-style: none;
    margin-left: 7px;
}

.menu ul li:first-child {
    margin-left: 0px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.menu ul li a:hover {
    background: #fff;
    color: black;
}

/* background image */
.img {
    background: url("/assets/images/Hero-image.png") no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.img::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(118, 185, 240, 0.5);
}

.center {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
}

.center .title {
    color: #fff;
    font-size: clamp(1rem, 1rem + 5vw , 5rem);
    font-weight: 600;
}

.center .subtitle {
    color: #fff;
    font-size: clamp(.5rem, 1rem + 5vw, 5rem);
    font-weight: 600;
}

.center .buttons {
    margin-top: 20px;
}

.center .buttons button {
    text-decoration: none;
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid white;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.center .buttons button {
    color: #fff;
    background: none;
}

.buttons a {
    text-decoration: none;
    color: inherit;
}

.buttons button:hover {
    background: white;
    color: inherit;
}

/* More section */

.img-about {
    background: url("/assets/images/About-us.png") no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.map {
    width: 100%;
    height: auto;
    overflow: scroll;
}

.section-more {
    text-align: center;
}

.row {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 3%;
}

.Row>h1 {
    font-size: 4em;
}

/* time and date*/

.time {
    text-align: center;
    font-size: clamp(1rem, 1rem + 5vw, 5rem);
}

.map iframe {
    border-radius: 25px;
}

.time a {
    text-decoration: none;
    color: black;
}

.time a:hover {
    color: #F0AD76;
    transition: all 0.4s ease;
}

.bgi-time {
    background-image: url("../images/Stage-kids.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 50px;
    border: 25px;
    border-radius: 25px;
}

/* Welcome Article */

.welcome-main {
    text-align: center;
    margin-bottom: 20px;
}

.wrap {
    display: flex;
    align-items: center;
}

.welcome-left {
    float: left;
    width: 40%;
    Margin-right: 5%;
    margin-left: 5%;
    text-align: center;
}

.welcome-right {
    float: right;
    width: 40%;
    Margin-right: 5%;
    margin-left: 5%;
    text-align: center;
}

.welcome-bottom {
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
}

/* stage show*/

.stage {
    background: url("/assets/images/staqe-fire.jpg") no-repeat;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center top;
    position: relative;
    opacity: 0.6;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);

}

.event {
    color: #fff;
    font-size: clamp(1rem, 1rem + 5vw, 5rem);
    font-weight: 600;
    text-align: center;
}

/*Day-plan*/

.cards-col {
    display: flex;
    gap: 5px;
    flex-direction: column;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
}

.cards-col > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}


/* Rides and pictures*/

.rides {
    text-align: center;
    padding-top: 4%;
    background-color: #F0AD76;
}

.ridephotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin-left: 3%;
    margin-right: 3%;
}

.ridephotos img {
    width: 90%;
    height: 80%;
    border-radius: 25px;
    transition: transform 0.4s;
}

.ridephotos img:hover {
    transform: scale(1.15);
}

/*Photos page*/
.img-photos {
    background: url("/assets/images/Pictures-hero-image.png") no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative
}

/*About us*/

.about-text {
    text-align: center;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 3%;
}
.about-text h1 {
    padding: 25px;
}

/*Contact us form*/
.img-contact {
    background: url("/assets/images/Contact-us-hero-image.png") no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.contact-form {
    max-width: 400px;
    max-height: 85vh;
    margin: 50px auto auto auto;
    padding: 0px 15px 15px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

label {
    color: white;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form input[type="submit"] {
    background-color: #76B9F0;
    color: #fff;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #F0AD76;
    transition: all 0.4s ease;
}

/*Terms and Conditions*/

.terms {
    margin: 50px;
    text-align: center;
}
.conditions {
    padding: 15px;
}

/* footer */
footer {
    background: rgb(118, 185, 240, 1);
}

.socials {
    display: flex;
    justify-content: center;
    margin: 0;
    list-style-type: none;
}

.social li {
    margin-right: 1em;
}

.socials a {
    font-size: 2em;
    text-decoration: none;
    color: #fff;
    padding-right: 15px;
    margin: 25px;
}

footer {
    overflow: hidden;
}

footer p {
    text-align: auto;
    color: white;
}

.frow {
    margin: auto;
    width: 25%;
    max-width: 6em;
    padding-bottom: em;
}

.socials a:hover {
    color: #F0AD76;
    transition: all 0.4s ease;
}